* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html, body, #root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.84);
  height: 100%;
  background: rgb(0,121,57);
  /* background: linear-gradient(90deg, rgba(0,121,57,1) 0%, rgba(0,177,98,1) 30%, rgba(0,160,141,1) 100%); */
  background: linear-gradient(90deg, rgba(118,35,211,1) 0%, rgba(233,141,208,1) 48%, rgba(253,156,189,1) 100%);
}
h1, h2, h3, h4, h5, h6, dl, dd, ol, ul, menu, figure, blockquote, p, pre, form {
  margin: 0;
}
section{
  padding: 40px 0 !important;
}
ul.neutralize{
  list-style-type: none;
  padding: 0;
}

._clearfix{
  clear: both;
}

.d-flex {
  display: -webkit-flex;
  display: flex;
}

.text-muted{
  color: #b3b2ca
}

.mjl-container{
  padding-right: 15px;
  padding-left: 15px;
  /* max-width: 1170px; */
  /* margin: 0 auto; */
  height: 100%;
}

.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -30px;
}
.login-form label{
  color: #FFF;
}

.login-form input {
  outline: 0;
  background: transparent;
  max-width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  line-height: 20px;
  font-size: 20px;
  border-bottom: solid 2px #FFF;
  transition: all .23s ease-in;
}

.login-form .error{
  color: #d43f3a;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  font-size: 17px;
}

#header{
  /* background: #FFF; */
  /* box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.1); */
  /* border-bottom: 1px solid #ccc; */
  padding: 10px 15px 0;
  width: 100vw;
  color:#FFF;
  margin: 0 calc(-50vw + 50%);
}
#header .caption{
  font-size: 12px;
  color: #FFF;
  line-height: 28px;
}

#sidebar{
  width: 250px;
  height: 94.3vh;
  overflow-y: scroll;
}

#sidebar h2{
  font-size: 24px;
  margin: 15px 0;
  color: #FFF;
  line-height: 0.8;
}

#sidebar .user-list li{
  padding: 10px;
  background: #FFF;
  border-radius: 8px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.1);
}

#sidebar .user-list .u-pp{
  padding: 12px;
  color: #FFF;
  border-radius: 50%;
  font-weight: 700;
  text-transform: uppercase;
  height: 42px;
  width: 42px;
  text-align: center;
  margin-right: 6px;
}


#chatbox {
  height: 94.3vh;
  width: 100%;
  flex-direction: column;
}
#chatbox form{
  border-radius: 6px;
  background: #FFF;
  padding: 10px 20px;
  position: relative;
}

#chatbox input{
  resize: none;
  padding: 15px;
  border-radius: 25px;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  outline: 0;
  border: none;
  background-color: #e6eff8;
}

#chatbox button{
  border: none;
  outline: 0;
  color: #fff;
  position: absolute;
  right: 24px;
  top: 13px;
  height: 40px;
  width: 80px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  background: #7279ff;
  background: -moz-linear-gradient(-45deg,#7279ff 0%,#af2bf0 100%);
  background: -webkit-linear-gradient(-45deg,#7279ff 0%,#af2bf0 100%);
  background: linear-gradient(135deg,#7279ff 0%,#af2bf0 100%);
  transition: all .35s ease-out;
  -webkit-box-shadow: 0px 0px 14px -3px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 14px -3px rgba(0,0,0,1);
  box-shadow: 0px 0px 14px -3px rgba(0,0,0,1);
}

#chatbox button[disabled] {
  opacity: 0.5;
}

#chatbox .messages{
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  background-color: #FFF;
  margin: 15px 0;
  border-radius: 6px;
  position: relative;
}

#chatbox .messages li>p{
  display: inline-block;
}

#chatbox .messages li .m{
  background: #e6eff8;
  color: #878b90;
  padding: 10px 15px;
  border-radius: 20px;
  display: inline-block;
  margin: 6px 0;
}

#chatbox .messages li.no-msg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  text-align: center;
}

#chatbox .messages li.right{
  text-align: right;
}
#chatbox .messages li.right .m{
  background: #7279ff;
  background: -moz-linear-gradient(-45deg,#7279ff 0%,#af2bf0 100%);
  background: -webkit-linear-gradient(-45deg,#7279ff 0%,#af2bf0 100%);
  background: linear-gradient(135deg,#7279ff 0%,#af2bf0 100%);
  color: #FFF;
}

#chatbox .sender{
  font-size: 12px;
  padding: 0 2px;
  text-align: left;
  display: block;
  margin-top: -6px;
}
